<!DOCTYPE HTML>
<html>
  <head>
    <title> Notman Occupants </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.2/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/occupants.js"></script>
  </head>
  <body ng-app="occupants">
    <div ng-controller="InteractionCtrl" class="container-fluid">
      <div class="text-center">
        <img src="images/william-notman.jpg"
             class="img-responsive center-block">
        <h1> Notman Occupants Directory </h1>
        <div class="center-block">
          <div class="btn-group" uib-dropdown>
            <button id="select-protocol" type="button"
                    class="btn btn-default" uib-dropdown-toggle>
              {{organization}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                aria-labelledby="select-protocol">
              <li role="menuitem" ng-repeat="(name, url) in organizations">
                <a ng-href="{{url}}"> {{name}} </a>
              </li>
            </ul>
          </div>
          <div class="btn-group" uib-dropdown>
            <button id="select-protocol" type="button"
                    class="btn btn-primary" uib-dropdown-toggle>
              {{person}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                aria-labelledby="select-protocol">
              <li role="menuitem" ng-repeat="(name, url) in people">
                <a ng-href="{{url}}"> {{name}} </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <img src="images/Notman-HackTheHouse-footer.png"
           class="img-responsive center-block">
    </footer>
  </body>
</html>
